<h1 id="heading">CORS demo {{currentUri}}</h1>
<div>
  <h3>Server requesting external content</h3>
  <ul>
    {{#each uris}}
      <li>
        {{#if active}}
          {{uri}}
        {{else}}
          <a href="{{uri}}">{{uri}}</a>
        {{/if}}
      </li>
    {{/each}}
  </ul>
</div>
<div>
  <h3>Fetch external content from:</h3>
  {{#each uris}}
    <button {{#if active}}disabled='disabled'{{/if}} onclick="javascript:fetchStuff('{{uri}}'); return false;">{{uri}}</button>
  {{/each}}
</div>
<div id="urlinfo">Press a button to try fetching external data</div>
<div id="ajaxdatahere">Status: Awaiting user input</div>

<script type="text/javascript">
  /*
   * There is very little error handling here.
   * This is not production stuff!
   */
  function fetchStuff(baseUrl) {

    var xhr = new XMLHttpRequest();
    var d = document,
      a = d.getElementById('ajaxdatahere'),
      u = document.getElementById('urlinfo'),
      path = '/api/something';

    xhr.open('GET', baseUrl + path);
    xhr.send(null);

    u.innerHTML = "Fetching data from " + baseUrl + path;

    xhr.onreadystatechange = function () {
      if (xhr.readyState === 4) {
        if (xhr.status === 200) {
          a.className = 'success';
          a.innerHTML = xhr.responseText;
        } else {
          a.className = 'error';
          a.innerHTML = 'Error: ' + xhr.status + '. Check javascript console!';
        }
      }
    };

  }
</script>
